/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '~normalize.css/normalize.css';
@import '@angular/material/theming';
/*@import '../../node_modules/@angular/material/_theming';*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


$custom-typography: mat-typography-config(
  $font-family: 'Open Sans'
);

@include angular-material-typography($custom-typography);

* {
  font-family: 'Open Sans', sans-serif;
}

nav {
  margin-top: 16px;
  margin-bottom: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

md-toolbar-row {
  justify-content: space-between;
}

.md-fab-top-right.mat-fab {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 10;
}

.course-list {
  max-height: 40vh;
}

.selected-exercise {
  background-color: gray;
  // width: 100px;
}

// .tree-node-active.tree-node-focused>.node-wrapper>.node-content-wrapper {
//     background: green;
// }
.selected-exercise p {
  color: white;
}

#peer-list-item > div:first-of-type {
  height: 100%;
}

md-toolbar {
  &.main {
    min-height: 50px;
    height: 50px;
  }
}

md-toolbar {
  min-height: 50px !important;
}

md-toolbar md-toolbar-row {
  height: 50px !important;
}

course {
  height: 100%
}

.layout-padding {
  padding: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

hr {
  display: block;
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}
